@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  min-height: calc(100vh - 100px);
  background: linear-gradient(180deg, #c1e1ff 0%, #0085ff 100%);
  font-family: 'Montserrat', sans-serif;
}

.container {
  background-color: white;
  margin: 0 auto;
  margin-top: 100px;
  width: 400px;
  padding: 20px 10px;
  border-radius: 30px;
  position: relative;
}

.create-room-btn {
  background-color: #4e95ff;
  border: 0px;
  color: white;
  cursor: pointer;
  border-radius: 64px;
  padding: 10px 13px;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 auto;
  display: block;
  width: 200px;
  margin: 100px auto;
}

.go-home {
  position: absolute;
  top: 1rem;
  right: 4.5rem;
  cursor: pointer;
}

.invite-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.title-container {
  position: relative;
  display: inline-block;
}

.title {
  margin-top: 0.5rem;
  margin-left: 30px;
  font-size: 2rem;
}

.edit-icon {
  position: absolute;
  top: 7px;
  right: -20px;
  cursor: pointer;
  width: 15px;
  height: 15px;
}
/*編輯*/
.editable-input {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  border: none;
  background-color: transparent;
  display: inline;
  width: 270px;
  border:2px solid blue; 
}

.inner-container {
  max-width: 320px;
  margin: 0 auto;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.messages {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-top: 20px;
}

.message {
  margin: 10px 0px;
  border-radius: 10px;
  color: black;
}

.message__text {
  background-color: #EEEFF0;
  border-radius: 20px;
  padding: 10px 20px;
  width: fit-content;
}

.message__text--self {
  background-color: #0085ff;
  color: white;
  border-radius: 20px;
  padding: 10px 20px;
  width: fit-content;
  margin-left: auto;
  margin-right: 0;
}

.message__user {
  font-size: 12px;
}

.message__user--self {
  font-size: 12px;
  text-align: right;
}

.input-form {
  background-color: #EEEFF0;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.input-form__input {
  width: 100%;
  border: 0px;
  background-color: transparent;
  outline: none;
  padding: 10px 20px;
  font-family: 'Montserrat', sans-serif;
}

.input-form__button {
  background-color: #0085ff;
  border: 0px;
  color: white;
  border-radius: 20px;
  padding: 10px 13px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left:0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

.open {
  display: block;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 1rem;
  border: 1px solid #888;
  width: 80%;
  border-radius: 10px;
  animation-name: slideIn;
  animation-duration: 0.4s;
  display: flex;
  flex-direction: column;
  gap:1rem;
  max-width: 500px;
  position: relative;
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0;}
  to {bottom: 0; opacity: 1;}
}

.modal-title {
  margin: 0;
}

.close-modal {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.copy-link-btn {
  background-color: #229C5A;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

.modal{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.open {
  display: block;
}

.modal-content{
  background-color: #fefefe;
  margin: 15% auto;
  padding: 1rem;
  border: 1px solid #888;
  width: 80%;
  border-radius: 10px;
  animation-duration: 0.4s;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 500px;
  position: relative;
}

.modal-title {
  margin: 0;
}

.close-modal {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.copy-link-btn{
  background-color: #229C5A;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}