@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  min-height: calc(100vh - 100px);
  background: linear-gradient(180deg, #c1e1ff 0%, #0085ff 100%);
  font-family: 'Montserrat', sans-serif;
}

.container {
  background-color: white;
  margin: 0 auto;
  margin-top: 100px;
  width: 400px;
  padding: 20px 10px;
  border-radius: 30px;
  position: relative;
}

.create-room-btn {
  background-color: #4e95ff;
  border: 0px;
  color: white;
  cursor: pointer;
  border-radius: 64px;
  padding: 10px 13px;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 auto;
  display: block;
  width: 200px;
  margin: 100px auto;
}

.go-home {
  position: absolute;
  top: 1rem;
  right: 4.5rem;
  cursor: pointer;
}

.invite-button {
  position: absolute;
  top: 1 rem;
  right: 1rem;
  cursor: pointer;
}

.title-container {
  position: relative;
  display: inline-block;
}

.title {
  margin-top: 0.5rem;
  margin-left: 30px;
  font-size: 2rem;
}

.edit-icon {
  position: absolute;
  top: 7px;
  right: -20px;
  width: 15px;
  height: 15px;
}

.inner-container {
  max-width: 320px;
  margin: 0 auto;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.messages {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.message {
  margin: 10px 0px;
  border-radius: 10px;
  color: block;
  border: 2px solid #333;
}

/*對方訊息*/
.message_text {
  background-color: #EEEFF0;
  border-radius: 20px;
  padding: 10px 20px;
  width: fit-content;
  /*自適應*/
}

/*自己訊息*/
.message_text_self {
  background-color: #4e95ff;
  color: white;
  border-radius: 20px;
  padding: 10px 20px;
  width: fit-content;
  margin-left: auto;
  margin-right: 0;
  border: 2px solid #333;
}

/*使用者*/
.message_user_self {
  font-size: 16px;
  text-align: right;
}

/*輸入欄位*/
.input-form {
  background-color: #EEEFF0;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/*input 輸入欄位*/
.input-form input {

  padding: 10px;
  border-radius: 20px;
  width: 80%;
  background-color: transparent;
  border: none;
  outline: none;
}

.input-form button {
  background-color: #4e95ff;
  border: none;
  color: white;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
}